html {
  font-family: 'Oswald', sans-serif;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #f57d0c 50%, #f9f9fa 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #fff;
  padding: 10px;
}

.box {
  font-family: 'Oswald', sans-serif;
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #e26411;
  text-align: center;
}

.item {
  font-family: 'Oswald', sans-serif;
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ee530b;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ee530c;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  font-family: 'Oswald', sans-serif;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
ul li{
  display: inline-block;
  list-style: none;
}
.fab{
  color:rgba(17, 12, 12, 0.767);
  font-size: 25px;
  margin-right: 10px;
  text-decoration: none !important;
}

.a{
  text-decoration: none !important; 
}

