<footer>
    <ul>
        <li>
        <a href="https://www.linkedin.com/in/prashant-singh-thakur-iiitr/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/thakur1199" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/prashantt1729/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    </ul>
</footer>