<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="Ca2DKQgjMp-5eNe2OPpBwEX0ouiAYD9l8e73M-JSoxg" />
  <title>To Do List</title>
  <script src="https://kit.fontawesome.com/f4db19eff1.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="shortcut icon" href="css/favicon.ico" type="icon">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>